@font-face {
  font-family: "weather-font";
  src: url("../public/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
}

@keyframes pulse {
  0% {
    background-color: #b5b5b5;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  overflow: hidden;
}

.hero-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.main-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.div-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.div-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search {
  display: flex;
  gap: 20px;
  align-items: center;
}

#search-input {
  background-color: rgba(157, 157, 157, 0.246);
  backdrop-filter: blur(10px);
  border: none;
  outline: none;
  color: white;
  border-radius: 20px;

  padding: 10px;
  box-shadow: #b5b5b5;
}

.location-container {
  font-family: "weather-font";
  color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#location {
  font-size: x-large;
}
#search-results {
  background-color: rgba(157, 157, 157, 0.246);
  width: 220px;
  height: 200px;
  border-radius: 10px;
  color: white;
  font-family: "weather-font";
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  backdrop-filter: blur(10px);
}

#hero-video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.main-info {
  font-family: "weather-font";
  height: fit-content;
  width: fit-content;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 3%;
  margin: 10%;
}

#temp-unit {
  font-size: large;
  align-self: flex-start;
}

#temp {
  position: relative;
  width: fit-content;
  display: flex;
}

#temperature {
  font-size: 80px;
}

#weather-condition {
  font-size: 40px;
}

#high-low {
  font-size: medium;
}

.forecast {
  height: 200px;
  width: 480px;
  border-radius: 20px;
  background: rgba(157, 157, 157, 0.246);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
  gap: 5%;
  font-family: "weather-font";
  overflow: hidden;
}

.weather-card {
  display: flex;
  flex-direction: column;
}

#H-forecast {
  padding-bottom: 3%;
  font-weight: 300;
  font-size: medium;
  color: rgb(240, 248, 255);
  border-bottom: 1px solid rgba(255, 255, 255, 0.284);
}

.hidden {
  display: none;
}
.show {
  display: flex;
}

.skeleton {
  border-radius: 4px;
  background: linear-gradient(90deg, #ccc, #eee, #ccc);
  opacity: 50%;
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

#cards {
  display: flex;
  flex-direction: row;
  gap: 11%;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.uv-index {
  display: flex;
  width: 50%;
  flex-direction: column;
  font-family: "weather-font";
  background-color: rgba(157, 157, 157, 0.246);
  backdrop-filter: blur(10px);

  border-radius: 20px;
  padding: 15px;
}

#humidity {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-family: "weather-font";
  background-color: rgba(157, 157, 157, 0.246);
  backdrop-filter: blur(10px);

  border-radius: 20px;
  padding: 15px;
}

.progress-track {
  min-width: inherit;
  height: 20px;

  border-radius: 100px;
}

#progress-bar {
  width: 0%; /* Start at 0 width */
  height: 100%;
  border-radius: 100px;
  /* The initial background will be set by JS, but we can have a fallback */
  background-color: #92e2f0;
}

#wind {
  width: 50%;

  display: flex;
  flex-direction: column;
  font-family: "weather-font";
  background-color: rgba(157, 157, 157, 0.246);
  backdrop-filter: blur(10px);

  border-radius: 20px;
  padding: 15px;
}

#precipitation {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-family: "weather-font";
  background-color: rgba(157, 157, 157, 0.246);
  backdrop-filter: blur(10px);

  border-radius: 20px;
  padding: 15px;
}

.info-cards {
  display: flex;
  flex-direction: column;
  width: 480px;
  gap: 20px;
}

#uv-wind {
  display: flex;
  gap: 20px;
}

#hum-preci {
  display: flex;
  gap: 20px;
}

/*mobile config*/
@media (max-width: 1040px) {
  html,
  body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
  }
  .hero-container {
    height: inherit;
    overflow-y: scroll;
  }

  #weather-condition {
    font-size: 20px;
  }
  #temp {
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: fit-content;
  }
  #weather-icon {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    align-self: center;
  }

  .div-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    height: 60%;
    padding: 0;
  }
  .div-left {
    justify-content: space-between;
    align-items: center;
    width: inherit;
    height: 40%;
  }
  .main-container {
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  #temp-unit {
    font-size: medium;
  }

  #temperature {
    font-size: 50px;
  }
  .hidden {
    display: none;
  }

  .forecast {
    width: inherit;
    height: 180px;
  }

  .info-cards {
    width: inherit;
  }

  #hero-video {
    width: 100%;
    height: auto;
    position: fixed;
    min-height: 100%;
    object-fit: fill;
  }

  .search {
    justify-content: center;
  }

  #location {
    font-size: large;
  }
}
